@charset "UTF-8";
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
/*Обнуление*/
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
  overflow-x: hidden;
}

body {
  line-height: 1;
  font-family: "Poppins", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Poppins", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/*--------------------*/
body {
  position: relative;
  font-size: 16px;
  font-weight: 500;
  color: #2D2D2D;
  background-color: #ECF7F3;
}

.container {
  max-width: 1170px;
  padding: 0 30px;
  margin: 0 auto;
  position: relative;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
}
.header__nav {
  margin-right: 30px;
}
@media (max-width: 767.98px) {
  .header__nav {
    margin-right: 0;
  }
}
.header__signup-btn {
  max-width: 108px;
  height: 42px;
}
.header__signup-btn:active {
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
}
.header__controllers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.logo-header__icon {
  width: 40px;
  height: 40px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 8px;
}
.logo-header__title {
  font-size: 25px;
}

.nav-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 45px;
     -moz-column-gap: 45px;
          column-gap: 45px;
}
@media (max-width: 767.98px) {
  .nav-header__list {
    display: none;
    opacity: 0;
    visibility: hidden;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 24px;
    row-gap: 25px;
    position: absolute;
    top: 108px;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(236, 247, 243, 0.9);
    z-index: 50;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
}
.nav-header__list.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
  visibility: visible;
}
.nav-header__item {
  position: relative;
}
.nav-header__item::after {
  content: "";
  width: 21px;
  height: 2px;
  background-color: #FB9B69;
  position: absolute;
  bottom: -6px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0;
}
.nav-header__item:hover:after {
  opacity: 1;
  width: 100%;
}
.nav-header__link {
  color: #4A4A4A;
  font-weight: 400;
  text-transform: capitalize;
}

.btn {
  color: #fff;
  background-color: #48b774;
  border-radius: 20px;
  padding: 0 23px;
  text-transform: capitalize;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.btn:hover {
  background-color: #72da9b;
}

.burger-header {
  display: none;
}
@media (max-width: 767.98px) {
  .burger-header {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    margin-left: 20px;
    cursor: pointer;
  }
  .burger-header span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #4A4A4A;
  }
  .burger-header span:first-child {
    top: 0px;
  }
  .burger-header span:last-child {
    top: auto;
    bottom: 0px;
  }
  .burger-header.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }
  .burger-header.active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .burger-header.active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}

.hero {
  padding: 90px 0 45px;
  position: relative;
}
@media (max-width: 767.98px) {
  .hero {
    padding-top: 25px;
  }
}
.hero__content {
  position: relative;
  z-index: 25;
}
@media (max-width: 767.98px) {
  .hero__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.hero__call-to-action {
  max-width: 475px;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.35em;
  text-transform: capitalize;
}
.hero__call-to-action b {
  color: #FF8345;
}
@media (max-width: 767.98px) {
  .hero__call-to-action {
    padding-top: 25px;
    font-size: 40px;
    text-align: center;
  }
}
@media (max-width: 767.98px) {
  .hero__call-to-action br {
    display: none;
  }
}
.hero__description {
  margin-top: 22px;
  max-width: 445px;
  min-height: 100px;
}
@media (max-width: 767.98px) {
  .hero__description {
    text-align: center;
  }
}
.hero__description-text {
  font-size: 15px;
  color: #7C7C7C;
  line-height: 1.7em;
}
.hero__get-started-btn {
  margin-top: 30px;
  width: 128px;
  height: 46px;
}
.hero__get-started-btn:active {
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
}
@media (max-width: 767.98px) {
  .hero__get-started-btn {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
.hero__form {
  margin-top: 50px;
  max-width: 600px;
  position: relative;
}
.hero__form .form-alert {
  position: absolute;
  left: 40px;
  bottom: -20px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #ff4545;
  font-size: 14px;
}
.hero__search {
  width: 100%;
  border-radius: 100px;
  height: 62px;
  padding: 21px 70px 21px 40px;
  line-height: 100%;
}
.hero__search::-webkit-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #A1A1A1;
  font-size: 16px;
}
.hero__search::-moz-placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #A1A1A1;
  font-size: 16px;
}
.hero__search:-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #A1A1A1;
  font-size: 16px;
}
.hero__search::-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #A1A1A1;
  font-size: 16px;
}
.hero__search::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #A1A1A1;
  font-size: 16px;
}
.hero__search-btn {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 6px;
}
.hero__search-btn:active {
  background-color: #FF8345;
}
.hero__users {
  margin-top: 40px;
}

.loader {
  display: none;
  margin: 0 auto;
  width: 100px;
}
.loader._active {
  display: block;
}

.users-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.users-hero__pics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin-right: 12px;
}
.users-hero__pic {
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid #fff;
  border-radius: 50%;
  z-index: 3;
}
.users-hero__pic:not(:last-child) {
  margin-left: -18px;
}
.users-hero .add-pic {
  position: relative;
  background-color: #FF8345;
  border-width: 3px;
  z-index: 1;
}
.users-hero .add-pic::after {
  content: "";
  background-image: url("../img/plus.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.users-hero__quantity {
  font-family: "Roboto", sans-serif;
  color: #707070;
  text-transform: capitalize;
}
.users-hero__quantity a {
  color: #FF8345;
}

.background-content {
  max-width: 836px;
  position: absolute;
  bottom: 0;
  right: -209px;
}
@media (max-width: 767.98px) {
  .background-content {
    position: relative;
    top: 0;
    right: 0;
  }
}
.background-content__spinner {
  width: 450px;
  height: 450px;
  position: absolute;
  top: -44px;
  left: 188px;
  z-index: 1;
}
@media (max-width: 767.98px) {
  .background-content__spinner {
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
.background-content__image {
  position: relative;
  width: 100%;
  z-index: 15;
}
.background-content__image img {
  width: 100%;
}

.spinner__main-circle {
  position: relative;
  width: 100%;
  height: 100%;
  border: 2px solid #E8E8E8;
  border-radius: 50%;
  z-index: 5;
  -webkit-animation: rotate-item 5s linear 5.3s infinite;
          animation: rotate-item 5s linear 5.3s infinite;
}
.spinner__middle-circle {
  width: 280px;
  height: 280px;
  position: absolute;
  bottom: 53px;
  right: 80px;
  background-color: #48b774;
  border-radius: 50%;
  z-index: 10;
}
.spinner__item {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 257px;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.spinner__item.item-1 {
  -webkit-animation: show-item-1 0.7s linear 3s forwards;
          animation: show-item-1 0.7s linear 3s forwards;
}
.spinner__item.item-2 {
  width: 60px;
  height: 60px;
  -webkit-animation: show-item-2 0.7s linear 3.4s forwards;
          animation: show-item-2 0.7s linear 3.4s forwards;
}
.spinner__item.item-3 {
  width: 70px;
  height: 70px;
  -webkit-animation: show-item-3 0.7s linear 3.8s forwards;
          animation: show-item-3 0.7s linear 3.8s forwards;
}
.spinner__item.item-4 {
  width: 80px;
  height: 80px;
  -webkit-animation: show-item-4 0.7s linear 4.2s forwards;
          animation: show-item-4 0.7s linear 4.2s forwards;
}
.spinner__item.item-5 {
  -webkit-animation: show-item-5 0.7s linear 4.6s forwards;
          animation: show-item-5 0.7s linear 4.6s forwards;
}
.spinner__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@-webkit-keyframes show-item-1 {
  0% {
    left: 50%;
    top: 257px;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  100% {
    left: 0;
    top: 50%;
    -webkit-transform: translatY(-50%);
            transform: translatY(-50%);
  }
}

@keyframes show-item-1 {
  0% {
    left: 50%;
    top: 257px;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  100% {
    left: 0;
    top: 50%;
    -webkit-transform: translatY(-50%);
            transform: translatY(-50%);
  }
}
@-webkit-keyframes show-item-2 {
  0% {
    left: 50%;
    top: 257px;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  100% {
    top: 15.63%;
    left: 13.68%;
  }
}
@keyframes show-item-2 {
  0% {
    left: 50%;
    top: 257px;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  100% {
    top: 15.63%;
    left: 13.68%;
  }
}
@-webkit-keyframes show-item-3 {
  0% {
    top: 257px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  100% {
    top: 0;
  }
}
@keyframes show-item-3 {
  0% {
    top: 257px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  100% {
    top: 0;
  }
}
@-webkit-keyframes show-item-4 {
  0% {
    left: 50%;
    top: 257px;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  100% {
    top: 15.63%;
    left: 86.32%;
  }
}
@keyframes show-item-4 {
  0% {
    left: 50%;
    top: 257px;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  100% {
    top: 15.63%;
    left: 86.32%;
  }
}
@-webkit-keyframes show-item-5 {
  0% {
    left: 50%;
    top: 257px;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  100% {
    left: 100%;
    top: 50%;
    -webkit-transform: translatY(-50%);
            transform: translatY(-50%);
  }
}
@keyframes show-item-5 {
  0% {
    left: 50%;
    top: 257px;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  100% {
    left: 100%;
    top: 50%;
    -webkit-transform: translatY(-50%);
            transform: translatY(-50%);
  }
}
@-webkit-keyframes rotate-item {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate-item {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}